@charset "utf-8";

.header__top{
    background: image('images/bg-header-desktop.png') no-repeat;    
}

.menu__button1{
    background-color: hsl(171, 66%, 44%);
    border-radius: 50px;
    border: none;
    padding: 10px 40px;
    box-shadow: 0 0 5px hsl(171, 66%, 44%);
    width: 15%;
}

.menu__button2{
    background-color: hsl(233, 100%, 69%);
    border-radius: 50px;
    border: none;
    padding: 10px 40px;
    box-shadow: 0 0 5px hsl(233, 100%, 69%);
    width: 15%;
}

.menu__button--alinhamento{
    display: flex;
    justify-content: center;
}

p{
    font-size: 18px;
    text-align: center;
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree';
    font-weight: 400, 600;
}

h1, h2, h3{
    text-align: center;
    font-family: 'Bai Jamjuree';
}

.imagem__main--computer{
    width: 50%;  
    align-items: flex-start;
}

.imagem__main--devices{
    width: auto;
    height: auto;
    align-items: center;  
}

.imagem__main--alinhamento{
    display: flex;
    justify-content: center;
}